
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wind2esg.capacitor.wechat.capacitorwechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
      <activity
          android:name="com.wind2esg.capacitor.wechat.WXEntryActivity"
          android:label="WXEntryActivity"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:exported="true"
          android:taskAffinity="<your app package name>"
          android:launchMode="singleTask">
      </activity>

      <activity-alias
          android:name="<your app package name>.wxapi.WXEntryActivity"
          android:exported="true"
          android:targetActivity="com.wind2esg.capacitor.wechat.WXEntryActivity" >
      </activity-alias>

      <activity
          android:name="com.wind2esg.capacitor.wechat.WXPayEntryActivity"
          android:label="WXPayEntryActivity"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:exported="true"
          android:taskAffinity="<your app package name>"
          android:launchMode="singleTask">
      </activity>

      <activity-alias
          android:name="<your app package name>.wxapi.WXPayEntryActivity"
          android:exported="true"
          android:targetActivity="com.wind2esg.capacitor.wechat.WXPayEntryActivity" >
      </activity-alias>

    </application>

  </manifest>
  